<!-- base file for signup, login, dashboard and other .....
 -->

{% load static %}

<!DOCTYPE html>
<html lang="en-US" class="js">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Smart" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="horizonheritage is federally insured by the National Credit Union Administration. We do business in accordance with the Fair Housing Law and Equal opportunity Credit Act."
    />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../static/logo.png" />
    <!-- Page Title  -->
    <title>{{user.username}} | horizonheritage Online banking</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/static/myaccount/scss/sweetalert.css" />
    <link
      rel="stylesheet"
      href="/static/myaccount/assets/css/dashlite8d5a.css"
    />
    <link
      id="skin-default"
      rel="stylesheet"
      href="/static/myaccount/assets/css/theme8d5a.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/myaccount/assets/css/fontawesome-icons.css"
    />
    <link href="/static/myaccount/css/toastr.css" rel="stylesheet" />
  </head>
  <link
    rel="stylesheet"
    href="https://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/css/intlTelInput.css"
  />
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: "en",
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        },
        "google_translate_element"
      );
    }
  </script>
  <script
    type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
  ></script>
  <style>
    .goog-te-gadget-simple {
      border: none;
    }
    .goog-te-gadget-simple a {
      color: #000;
    }
  </style>
  <style type="text/css">
    .btn-primary {
      background-color: #3140fc;
    }
    .btn-secondary {
      background-color: #d13636;
    }
    .btn-secondary:hover {
      opacity: 0.6;
    }
    .btn-primary:hover {
      opacity: 0.6;
    }
  </style>

  {% block main %} {% endblock main %}

  <div class="nk-footer nk-footer-fluid">
    <div class="container-fluid">
      <div class="nk-footer-wrap">
        <div class="nk-footer-copyright">
          &copy; 2024 horizonheritageplc - <a href="#">All rights reserved.</a>
        </div>
        <div class="nk-footer-links">
          <ul class="nav nav-sm">
            <li class="nav-item">
              <a class="nav-link" href="/contact">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/myaccount/js/country.js"></script>
  <script src="/static/myaccount/assets/js/bundle8d5a.js"></script>
  <script src="/static/myaccount/assets/js/scripts8d5a.js"></script>
  <script src="/static/myaccount/assets/js/charts/chart-crypto.js"></script>
  <script src="/static/myaccount/js/sweetalert.js"></script>
  <script src="/static/myaccount/assets/js/jquery.min.js"></script>
  <script src="/static/myaccount/assets/js/custom.js"></script>
  <script src="/static/myaccount/js/toastr.js"></script>
  <script
    src="//code.tidio.co/zjand1hzvqda8lwqgeg37vlkc4rcdwur.js"
    async
  ></script>
</html>
