
{% extends 'base2.html' %}
{% load static %}
{% block main %}
    <body class="nk-body npc-crypto bg-white has-sidebar dark-mode ">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main ">
                <!-- sidebar @s -->
                {% include 'side.html' %}
                <!-- sidebar @e -->
                <!-- wrap @s -->
                <div class="nk-wrap ">
                    <!-- main header @s -->
                    {% include 'main.html' %}
                   
                    <!-- main header @e --> <div class="nk-content nk-content-fluid">
                        <div class="container-xl wide-lg">
                            <div class="nk-content-body">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-sub">
                                    </div>
                                    <div class="nk-block-between-md g-4 card-bordered">
                                        <div class="nk-block-head-content">
                                            <h4 class="nk-block-title fw-normal">Internet Banking Check Deposit.</h4>
                                            <div class="nk-block-des">
                                                <p>you can deposit checks by snapping pictures of the front and back of the check.</p>
                                            </div>
                                        </div><!-- .nk-block-head-content -->
                                        <div class="nk-block-head-content">
                                            <ul class="nk-block-tools gx-3">
                                                <li><a href="/withdraw" class="btn btn-secondary btn-light text-light"><span>Transfer Fund</span><em class="icon ni ni-wallet-out"></em></a></li>
                                            </ul>
    
                                        </div><!-- .nk-block-head-content -->
                                    </div><!-- .nk-block-between -->
                                </div><!-- .nk-block-head -->
                            </div>
                        </div>
						
                      <div class="card card-bordered">
                   <div class="card-header font-weight-bold text-light" style="background-color:#3140fc;">Deposit a check</div>
              <div class="card-inner">
            <h5 class="card-title">Check Deposit tips</h5>
            <p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Choose the account to deposit the check and the check amount.</p>
            <p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Ensure the check has been properly endorsed and that it is flat, on a dark, well-lit surface. Then snap pictures of both the front and back of the check, keeping it in the correct parameters. Don’t forget to endorse and write ‘for mobile deposit only’ on the back.
            </p>
             <p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Submit your check for deposit! We’ll send you an email confirmation that we’ve received your deposit and an email confirmation once it is accepted. Be sure to hold on to your check until you receive this confirmation, once received, destroy the check!
            </p>
            <hr>
            <form action="/deposit" method="POST" class="buysell-form" enctype="multipart/form-data"> 
           {% csrf_token %}
			
			                   
			{% if error_message %}
				<div class="alert alert-danger" role="alert">
					{{ error_message }}
				</div>
			{% endif %}
									  
								<!--	  
                                <div class="buysell-field form-group"> 
                    <div class="form-label-group"> 
                        <label class="form-label">Select Account</label> 
                    </div>
					
                    <div class="dropdown buysell-cc-dropdown"> <a href="#" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown"> <div class="coin-item coin-btc"> 
                        <div class="coin-icon"> 
                            <em class="icon ni ni-sign-usd"></em> 
                        </div> 
                        <div class="coin-info"> 
                            <span class="coin-name">Savings Account ({{user.pair}})</span> 
                            <span class="coin-text">Available Balance: {{user.pair}}   </span> 
                        </div> 
                    </div> </a>
					
                 <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                  <ul class="buysell-cc-list"> 
                      <li class="buysell-cc-item selected"> 
                          <a href="#" class="buysell-cc-opt" data-currency="btc">
                           <div class="coin-item coin-btc"> 
                               <div class="coin-icon"> 
                                   <em class="icon ni ni-sign-usd"></em>
                                    </div> 
                                    <div class="coin-info"> 
                                        <span class="coin-name">Savings Account ({{user.pair}})</span> 
                                        <span class="coin-text">Available Balance:    {{user.pair}} 		 		
                                        </span> 
                               </div>
                           </div>
                          </a>
                       </li>
                     </ul> 
                    </div><!-- .dropdown-menu --> </div><!-- .dropdown --> </div><!-- .buysell-field --> <div class="buysell-field form-group"> <div class="result"></div> <div class="form-label-group"> <label class="form-label" for="buysell-amount">Check Amount</label> </div> <div class="form-control-group"> 
                        <input type="number" class="form-control form-control-lg form-control-number" id="amount" name="amount" placeholder="1000"> <div class="form-dropdown"> <div class="text">{{user.pair}}<span></span></div> </div> </div> <div class="form-note-group"> <span class="buysell-min form-note-alt"></span> <span class="buysell-rate form-note-alt">You can deposit upto {{user.pair}} for each federal check</span> </div> </div>
                <!-- .buysell-field --> 
               <div class="buysell-field form-group row">
                 <div class="form-group col-md-6">
        <label class="form-label" for="customFileLabel">Front of the check</label>
        <div class="col-md-12 p-0">
        <img class="img-responsive" id="output_imageB" src="../img/size.jpg" style="width:100%; height:130px">
       </div>
       <p class="clear-fix"></p>
        <div class="form-control-wrap">
            <div class="custom-file">
			<input type="file" name="deposit_slip" class="custom-file-input" id="fileTag" accept="image/*" onchange="preview_imageB(event)">
               <!--  <input type="file" name="image" class="custom-file-input" id="fileTag" accept="image/*" onchange="preview_imageB(event)">   -->
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
   
    <script type='text/javascript'>
    function preview_image(event) 
    {
     var reader = new FileReader();
     reader.onload = function()
     {
      var output = document.getElementById('output_image');
      output.src = reader.result;
     }
     reader.readAsDataURL(event.target.files[0]);
    }
    function preview_imageB(event) 
    {
     var reader = new FileReader();
     reader.onload = function()
     {
      var output = document.getElementById('output_imageB');
      output.src = reader.result;
     }
     reader.readAsDataURL(event.target.files[0]);
    }
    </script>
    
             </div>
                <!-- .buysell-field --> 
            <div class="buysell-field form-action">
              <button type="submit" name="check" class="btn btn-lg btn-block btn-primary dep">Submit check</button> 
          </div>
          <!-- .buysell-field --> 
          <div class="form-note text-base text-center">Note: our Flash fund fee will be debucted from your account following the completion of this deposit.</div> 
      </form>
          <!-- .buysell-form -->
        </div>
    </div>
     <script src="../static/assets/js/jquery.min.js"></script>
    <div class="nk-footer nk-footer-fluid">
                        <div class="container-fluid">
                            <div class="nk-footer-wrap">
                                <div class="nk-footer-copyright"> &copy; 2023 horizonheritage - <a href="#">All rights reserved.</a>
                                </div>
                                <div class="nk-footer-links">
                                    <ul class="nav nav-sm">
                                        <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                        <li class="nav-item"><a class="nav-link" href="privacy">Privacy</a></li>
                                        <li class="nav-item"><a class="nav-link" href="contact">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer @e -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- JavaScript -->
       
    </body>
    

 
    {% endblock main %}