{% extends 'base2.html' %} {% load static %} {% block main %}
<body class="nk-body npc-crypto bg-white has-sidebar dark-mode">
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main">
      <!-- sidebar @s -->
      {% include 'side.html' %}
      <!-- sidebar @e -->
      <!-- wrap @s -->
      <div class="nk-wrap">
        <!-- main header @s -->
        {% include 'main.html' %}

        <!-- main header @e -->

        <div class="nk-content nk-content-fluid">
          <div class="container wide-lg">
            <div class="nk-content-body">
              <div class="buysell">
                <div class="buysell-nav text-center">
                  <ul class="nk-nav nav nav-tabs nav-tabs-s2">
                    <li class="nav-item">
                      <a class="nav-link active" href="">New Loan Request</a>
                    </li>
                  </ul>
                </div>
                <!-- .buysell-nav -->
                <div class="buysell-title text-center">
                  <h2 class="title">Apply For horizonheritage Loan</h2>
                </div>
                <!-- .buysell-title -->
                <div class="buysell-block">
                  <form action="/loans" class="buysell-form" method="post">
                    {% csrf_token %} {% if messages %}
                    <!-- <ul> -->
                    {% for message in messages %}
                    <div
                      class="alert alert-warning alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>{{ message }}</strong>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    {% endfor %}
                    <!-- </ul> -->
                    {% endif %}

                    <!--      <div class="buysell-field form-group">
                                                <div class="form-label-group">
                                                    <label class="form-label">Disbursement Account:</label>
                                                </div>
                                               
                                                 <div class="dropdown buysell-cc-dropdown">
                                                    <a href="#" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown">
                                                        <div class="coin-item coin-btc">
                                                            <div class="coin-icon">
                                                                <em class="icon ni ni-sign-usd"></em>
                                                            </div>
                                                            <div class="coin-info">
                                                                <span class="coin-name">Savings Account ({{user.pair}})</span>
                                                                <span class="coin-text">Available Balance: {{user.pair}} Balance </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-auto dropdown-menu-mxh">
                                                        <ul class="buysell-cc-list">
                                                            <li class="buysell-cc-item selected">
                                                                <a href="#" class="buysell-cc-opt" data-currency="btc">
                                                                    <div class="coin-item coin-btc">
                                                                        <div class="coin-icon">
                                                                            <em class="icon ni ni-sign-usd"></em>
                                                                        </div>
                                                                        <div class="coin-info">
                                                                            <span class="coin-name">Savings Account ({{user.pair}})</span>
                                                                            <span class="coin-text">Available Balance:   {{user.pair}} Balance</span>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
											-->
                    <div class="buysell-field form-group">
                      <div class="form-label-group">
                        <label class="form-label" for="buysell-amount"
                          >Loan Amount</label
                        >
                      </div>
                      <div class="form-control-group">
                        <input
                          type="number"
                          step="any"
                          class="form-control form-control-lg form-control-number"
                          name="amm"
                          placeholder="200.00"
                          required
                        />
                        <div class="form-dropdown">
                          <div class="text">{{user.pair}}</div>
                        </div>
                      </div>
                      <div class="form-note-group">
                        <span class="buysell-min form-note-alt"
                          >Minimum:150 {{user.pair}}</span
                        >
                        <span class="buysell-rate form-note-alt"
                          >Maximum:150,000 {{user.pair}}</span
                        >
                      </div>
                    </div>
                    <!-- .buysell-field -->
                    <div class="row">
                      <div class="buysell-field form-group col-lg-6">
                        <div class="form-label-group">
                          <label class="form-label" for="buysell-amount"
                            >Credit Facility</label
                          >
                        </div>
                        <div class="form-control-group">
                          <select
                            type="text"
                            class="form-control form-control-lg"
                            id="facility"
                            name="credit"
                            required
                          >
                            <option selected value="">
                              Select Loan/Credit Facility
                            </option>
                            <option value="Personal Home Loans">
                              Personal Home Loans
                            </option>
                            <option value="Commercial Mortgage">
                              Defi Loan
                            </option>
                            <option value="Joint Mortgage ">
                              Joint Mortgage
                            </option>
                            <option value="Automobile Loans ">
                              Automobile Loans
                            </option>
                            <option value="Salary loans">Salary loans</option>
                            <option value="Secured Overdraft">
                              Secured Overdraft
                            </option>
                            <option value="Contract Finance">
                              Contract Finance
                            </option>
                            <option value="Secured Term Loans">
                              Secured Term Loans
                            </option>
                            <option value="StartUp/Products Financing">
                              StartUp/Products Financing
                            </option>
                            <option value="Local Purchase Orders Finance">
                              Local Purchase Orders Finance
                            </option>
                            <option value="Operational Vehicles">
                              Operational Vehicles
                            </option>
                            <option value="Revenue Loans and Overdraft">
                              Revenue Loans and Overdraft
                            </option>
                            <option value="Retail TOD">Retail TOD</option>
                            <option value="Commercial Mortgage">
                              Commercial Mortgage
                            </option>

                            <option value="Office Equipment">
                              Office Equipment
                            </option>
                            <option value="Health Finance Product Guideline">
                              Health Finance Product Guideline
                            </option>
                            <option value="Health Finance">
                              Health Finance
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- .buysell-field -->
                      <div class="buysell-field form-group col-lg-6">
                        <div class="form-label-group">
                          <label class="form-label" for="buysell-amount"
                            >Repayment Tenure</label
                          >
                        </div>
                        <div class="form-control-group">
                          <select
                            type="text"
                            class="form-control form-control-lg"
                            id="ten"
                            name="ten"
                            required
                          >
                            <option value="" selected>Payment Tenure</option>
                            <option value="12">12 Months</option>
                            <option value="24">2 Years</option>
                            <option value="36">3 Years</option>
                            <option value="48">4 Years</option>
                            <option value="60">5 Years</option>
                            <option value="72">6 Years</option>
                            <option value="84">7 Years</option>
                            <option value="96">8 Years</option>
                            <option value="108">9 Years</option>
                            <option value="120">10 Years</option>
                          </select>
                        </div>
                      </div>
                      <div class="buysell-field form-group col-lg-12">
                        <div class="form-label-group">
                          <label class="form-label" for="buysell-amount"
                            >Purpose</label
                          >
                        </div>
                        <div class="form-control-group">
                          <textarea
                            type="text"
                            class="form-control form-control-lg"
                            cols="8"
                            id="reason"
                            name="pur"
                            placeholder="Briefly exlain why you're requesting for this loan"
                            required
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <p class="title lead">
                      You are requesting for an instant loan, By continueing,
                      you have agreed and accepted the horizonheritage digital
                      loan terms and conditions.
                    </p>
                    <strong class="text-center bold">Terms & Conditions</strong>
                    <ul class="list list-sm list-checked">
                      <li>Interest Rate: 4.3%.</li>
                      <li>Management Fee: 3%.</li>
                      <li>Credit Life Insurance Fee: 0.8%.</li>
                      <li>Penal Charge: 3.5%.</li>
                      <li>
                        Repayment must be made according to my preffered
                        repayment tenure.
                      </li>
                      <li>
                        I waive 3-days maximum cooling off period to enable
                        disbursement.
                      </li>
                      <li>
                        I accept that horizonheritage reserved the right to
                        decline my loan request.
                      </li>
                    </ul>
                    <div id="Result"></div>
                    <div class="buysell-field form-action">
                      <button
                        type="submit"
                        class="btn btn-lg btn-block btn-primary"
                        id="btn"
                      >
                        Continue
                      </button>
                    </div>
                  </form>
                  <!-- .buysell-form -->
                </div>
                <!-- .buysell-block -->
              </div>
              <!-- .buysell -->
            </div>
          </div>
        </div>

        <script src="../static/assets/js/jquery.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function (e) {
            $("#loanRequest").on("submit", function (e) {
              document.getElementById("btn").disabled = true;
              e.preventDefault();
              $.ajax({
                url: "../scripts/auth?action=loanRequest",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                  document.getElementById("btn").disabled = false;
                  $("#Result").html(data);
                },
                error: function () {},
              });
            });
          });
          $(document).ready(function (e) {
            $("#acceptForm").on("submit", function (e) {
              document.getElementById("btn2").disabled = true;
              e.preventDefault();
              $.ajax({
                url: "../scripts/auth?action=acceptLoan",
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                  document.getElementById("btn2").disabled = false;
                  $("#Result2").html(data);
                },
                error: function () {},
              });
            });
          });
        </script>

        <!-- footer @e -->
      </div>
      <!-- wrap @e -->
    </div>
    <!-- main @e -->
  </div>
  <!-- app-root @e -->
  <!-- JavaScript -->
</body>
{% endblock main %}
